@import 'assets/tokens.scss';

.right-panel{
  height: 100%;
  background: #212121;
  transition: transform 0.2s;
  .panel-exports {
    height: 100%;
    overflow-y: scroll;
    .exports-download-all{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 6px 12px;
      color: $white-65;
      transition: background 0.2s, color 0.2s;
      cursor: pointer;
      &.is-downloading{
        justify-content: flex-start;
      }
      &:hover{
        color: $white-85;
        background: #141723;
      }
      svg{
        margin-left: 6px;
      }
      span{
        position: relative;
        z-index: 1;
      }
      .download-all-progress{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #2f3446;
        z-index: 0;
      }
    }
    .exports-empty{
      padding: 12px;
      color: $white-36;
    }
  }
}