.export-item{
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background 0.2s;
  cursor: pointer;
  position: relative;
  &:hover{
    background-color: #324894;
    >svg{
      opacity: 1;
    }
  }
  &-downloading{
    >svg{
      opacity: 1!important;
    }
  }
  div:first-child {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #3D3D3D;
    border-radius: 6px;
  }
  &-desc{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: space-between;
    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &-title {
      font-size: 13px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.85);
    }
    &-sum {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.3);
    }
    
  }
  >svg{
    opacity: 0;
    transition: opacity 0.2s;
  }
}
