.export-item{
  display: flex;
  align-items: center;
  padding: 12px;
  transition: background 0.2s;
  cursor: pointer;
  position: relative;
  &:hover{
    background: #324894;
    >svg{
      opacity: 1;
    }
  }
  &-downloading{
    >svg{
      opacity: 1!important;
    }
  }
  div:first-child {
    width: 46px;
    height: 46px;
    margin-right: 6px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #3D3D3D;
    border-radius: 6px;
  }
  >span{
    flex: 1;
  }
  >svg{
    opacity: 0;
    transition: opacity 0.2s;
  }

}
