.input-group{
  position: relative;
  display: flex;
  background: rgba(8, 8, 8, 1);
  border-radius: 2px;
  transition: background 0.2s;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  >*{
    flex: 1;
  }
  .copiable-input{
    border-radius: 0;
  }
  .copiable-input{
    &:not(:last-child){
      >input{
        padding-right: 0;
        min-width: 6px;
      }
    }
  }
  &-quiet{
    background: transparent;
    .copiable-input{
      background: transparent;
    }
    &:hover{
      background: rgba(8, 8, 8, 1);
    }
  }
}
